body {
    background-image: url(../img/painel-mickey-disney-adesivos-ceu.jpg);
    width: 100%;
}
header {
    text-align: center;
    margin: 0%;
    background-color: #1daff2;
    color: white;
}

#title {
    text-align: center;
}

#textoFijo {
    text-align: center;
    background-color:white;
}
